* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
} 

header {
    background-color:#f4f4f4;
    padding: 20px;
    text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;

}

h1 {
    font-size: 24px;
}
